.sidebyside-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .db-container {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border-style: double;
    border-color: blue;
  }

  .removeButton {
    background: orange;
  }